body {
  background-color: white;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  display: block;
  margin: 10px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: #8a6d2f;
  font-size: 44px;
  line-height: 54px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}
h2 {
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  color: #8a6d2f;
  font-size: 38px;
  line-height: 36px;
  font-weight: 300;
  text-shadow: none;
}
h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}
.button {
  display: block;
  margin-top: 50px;
  padding: 4px 20px;
  float: none;
  background-color: #b59143;
  -webkit-transition-delay: initial;
  -o-transition-delay: initial;
  transition-delay: initial;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #18c7aa;
}
.button.sign-in {
  display: block;
  width: 40%;
  margin-top: 8px;
  padding: 8px 10px;
  float: right;
  border-radius: 8px;
  background-color: #fcbe38;
  font-size: 15px;
}
.button.sign-in:hover {
  font-weight: 400;
}
.button.sign-in.sign-out {
  width: 20%;
  margin-left: 15px;
}
.button.staple {
  display: inline-block;
  margin-top: 0px;
  margin-left: 20px;
}
.button.result {
  display: inline-block;
  width: 200px;
  margin-top: 0px;
  padding: 20px 10px;
  border-radius: 10px;
  font-weight: 400;
}
.button.result:hover {
  background-color: #c29942;
}
.field {
  width: 70%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border: 0px solid black;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: white;
  box-shadow: transparent 0px 0px 8px 0px inset;
  -webkit-transition: box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #806732;
  font-size: 18px;
  font-weight: 300;
}
.field:focus {
  box-shadow: #b59143 0px 0px 0px 2px inset;
}
.sign-up-form {
  margin-top: 40px;
}
.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}
.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #b59143;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
}
.spread-word {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}
.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}
.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}
.container {
  padding-right: 70px;
  padding-left: 70px;
}
.social-section {
  margin-bottom: -20px;
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: #fac960;
  text-align: center;
}
.social-section.register {
  padding-top: 30px;
}
.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}
.share-wrapper {
  margin-top: 32px;
}
.social-btn {
  margin-left: 17px;
  padding-right: 2px;
  padding-left: 2px;
  opacity: 0.15;
  -webkit-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.social-btn:hover {
  opacity: 0.7;
}
.social-btn.footer {
  display: inline-block;
  margin-right: 9px;
  margin-left: 9px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}
.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: white;
}
.right-nav {
  padding-top: 2px;
  text-align: right;
}
.brand {
  display: inline-block;
  font-family: Exo, sans-serif;
  color: #2e2e2e;
  font-size: 32px;
  line-height: 22px;
  font-weight: 500;
}
.logo {
  margin-top: -10px;
  margin-right: 13px;
}
.logo.footer {
  display: block;
  margin: 0px auto 21px;
}
.section {
  padding-top: 81px;
  padding-bottom: 81px;
  text-align: center;
}
.section.hero {
  padding-top: 20px;
  padding-bottom: 40px;
  border: 2px solid #b59143;
  background-color: #fac960;
  text-align: center;
}
.section.hero.success {
  background-color: #18c7aa;
}
.section.hero.register {
  padding-bottom: 50px;
  border-right-width: 0px;
  border-left-width: 0px;
}
.section.hero.recipe-search {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 2px solid #b59143;
  text-align: left;
}
.section.grey {
  background-color: #f2f2f2;
}
.section.grey.sign-in {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section.grey.sign-in.error {
  padding-bottom: 20px;
}
.section.grey.search-recipe {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section.grey.result {
  padding-top: 20px;
  padding-bottom: 40px;
}
.section.recipe {
  padding-top: 40px;
  padding-bottom: 40px;
}
.grey-heading {
  color: rgba(0, 0, 0, 0.56);
  text-shadow: none;
}
.grey-heading.sign-in {
  margin-bottom: 0px;
  font-size: 48px;
  text-shadow: none;
}
.grey-heading.add-staple {
  display: block;
  float: none;
  font-size: 48px;
  text-shadow: none;
}
.image-crop {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 368px;
  margin-top: 39px;
  margin-bottom: -81px;
}
.phone-image {
  width: 381px;
}
.infinite {
  margin-top: 40px;
  opacity: 0.6;
}
.infinite.image {
  margin-top: 0px;
}
.home-text-login {
  font-size: 20px;
  line-height: 20px;
}
.home-text-block {
  margin-right: 8px;
  padding-top: 8px;
  float: right;
  font-size: 18px;
}
.home-nav {
  border: 1px solid #cca758;
  background-color: #ffc038;
}
.nav-text {
  padding: 15px;
  color: #fffed9;
  font-size: 17px;
  text-decoration: none;
}
.nav-text:hover {
  background-color: #fcb721;
  color: white;
}
.nav-text.select {
  background-color: #d6a32b;
  color: white;
}
.footer-text {
  display: inline-block;
  float: none;
  opacity: 0.75;
  color: black;
}
.icon {
  display: inline-block;
  margin-bottom: 3px;
  float: none;
}
.icon.footer {
  margin-right: 10px;
  text-align: center;
}
.icon.staple {
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-div {
  opacity: 0.3;
  -webkit-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.middle-container.card {
  margin-bottom: 5px;
}
.para-middle {
  margin-bottom: 45px;
  text-shadow: none;
}
.sign-in-text {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #787878;
  font-size: 22px;
  font-weight: 300;
}
.sign-in-text.thank {
  padding-right: 40px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 28px;
}
.sign-in-text.add-staple {
  display: inline-block;
  margin-right: 20px;
}
.sign-in-text.add-staple.block {
  display: block;
  margin-top: 10px;
  margin-right: 0px;
}
.sign-in-text.add-staple.inbox {
  display: block;
  margin-right: 0px;
  color: #82662a;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}
.from-sign-in {
  margin-top: 40px;
  text-align: center;
}
.from-sign-in.add-staple {
  margin-top: 20px;
}
.from-sign-in.error {
  margin-top: 10px;
}
.sign-in-input {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.sign-in-input.add-staple {
  display: inline-block;
  padding-top: 9px;
  text-align: left;
}
.sign-in-input.add-staple.check-box {
  width: 25%;
  height: 25px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  text-align: center;
}
.submit-sign-in {
  width: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fac960;
  font-size: 16px;
}
.submit-sign-in:hover {
  background-color: #ffbd2e;
}
.submit-sign-in.register {
  margin-top: 20px;
}
.submit-sign-in.add-staple {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #b59143;
}
.submit-sign-in.add-staple.cart {
  width: 80%;
  background-color: #b59143;
}
.text-to-register {
  opacity: 0.4;
  font-size: 17px;
}
.text-to-register:hover {
  opacity: 0.8;
}
.header-status-user {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  font-size: 23px;
  text-shadow: none;
}
.link-block {
  display: block;
  text-decoration: none;
}
.home-blank-row {
  display: block;
  height: 20px;
  background-color: #fac960;
}
.nav-group {
  display: block;
  float: left;
}
.home-slide {
  background-image: url('../images/pic 5 resize.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.home-slide.two {
  background-image: url('../images/pic 6 resize.jpg');
  background-position: 50% 0px;
}
.home-slide.three {
  background-image: url('../images/pic 3 resize.jpg');
  background-position: 50% 0px;
}
.home-slider {
  height: 400px;
}
.test-sec {
  background-color: #fac960;
}
.recipe-image {
  width: 100%;
  margin-top: 0px;
}
.recipe-heading {
  position: static;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
  float: none;
  color: white;
  font-size: 56px;
  line-height: 56px;
  font-weight: 400;
  text-align: left;
  text-shadow: #785200 1px 1px 0px;
}
.recipe-heading.staple {
  display: inline-block;
  font-size: 48px;
}
.recipe-heading.staple.add {
  padding-bottom: 20px;
}
.recipe-card-row {
  background-color: #fac960;
  font-weight: 400;
}
.card-image {
  display: inline-block;
  height: 100%;
  float: none;
}
.card-row-col {
  margin-bottom: 5px;
  border: 2px solid #b59143;
  background-color: #fac960;
}
.card-row-col.result {
  margin-bottom: 10px;
}
.card-col1 {
  padding-right: 0px;
  padding-left: 0px;
}
.card-col2 {
  padding-top: 25px;
  padding-bottom: 0px;
  text-align: left;
}
.container-wide {
  padding-right: 40px;
  padding-left: 40px;
}
.recipe-from-warp {
  display: block;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.recipe-search-bar {
  display: inline-block;
  width: 60%;
  height: 60px;
  margin-top: -2px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 40px;
  border-radius: 20px 0px 0px 20px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.recipe-search-bar.staple {
  display: inline-block;
  width: 80%;
}
.recipe-search-bar.staple.java {
  border-radius: 20px;
}
.recipe-submit {
  display: inline-block;
  width: 25%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 0px 10px 10px 0px;
  background-color: #b59143;
  font-size: 22px;
  font-weight: 400;
}
.recipe-submit.staple {
  display: inline-block;
}
.recipe-form {
  padding-right: 20px;
  padding-left: 20px;
}
.card-head {
  margin-bottom: 5px;
  padding-left: 20px;
  text-shadow: none;
}
.card-head.staple {
  text-shadow: none;
}
.card-para {
  padding-right: 20px;
  padding-left: 20px;
  text-shadow: none;
}
.card-para.head {
  font-size: 22px;
  font-weight: 400;
  text-shadow: none;
}
.card-para.head.staple {
  text-shadow: none;
}
.card-twin-row {
  margin-bottom: 10px;
}
.staple-icon {
  display: inline-block;
  margin-left: 20px;
  padding-bottom: 20px;
  opacity: 0.8;
}
.staple-icon:hover {
  opacity: 1;
}
.embed-staple {
  display: inline-block;
}
.add-staple-picture-section {
  display: block;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 2px dashed #8f8f8f;
  border-radius: 20px;
  background-color: #f7f7f7;
}
.add-staple-picture-section.recipe {
  background-color: #fac960;
}
.staple-section.add-line {
  margin-bottom: 10px;
}
.prac-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #b59143;
}
.prac-div {
  margin-bottom: 10px;
  background-color: #fac960;
  text-align: left;
}
.prac-div.cart {
  padding: 10px;
}
.practice-cart-space {
  height: 200px;
  padding: 20px;
  border: 3px dashed #876723;
}
.practice-cart-head {
  display: block;
  padding: 5px 10px 10px;
}
.staple-cart-col {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 2px solid #b59143;
  background-color: #fac960;
}
.staple-cart-space {
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 5px;
  border: 3px dashed #876b2e;
}
.staple-cart-space.bin {
  height: 100px;
  min-height: 100px;
  background-image: url('../images/trash.png');
  background-position: 50% 50%;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}
.staple-cart-text {
  color: #5e5e5e;
  text-align: center;
}
.staple-text-in-cart {
  display: inline-block;
  margin-right: 5px;
  padding-left: 20px;
}
.staple-div-in-cart {
  margin-bottom: 2px;
  text-align: center;
}
.staple-image-in-cart {
  display: block;
  float: right;
}
.error-para {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-shadow: none;
}
.recipe-add-check-box-field {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 0px;
  text-align: left;
}
.recipe-check-box-icon {
  margin-right: 10px;
  margin-left: 0px;
  float: none;
}
.recipe-check-box-section {
  padding-left: 350px;
  text-align: left;
}
.recipe-staple-all {
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
}
.div-staple-block {
  display: inline-block;
  width: 40%;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  background-color: #ffdb8c;
  text-align: center;
}
.div-staple-image {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.div-text-block {
  display: block;
}
.recipe-add-table {
  padding-right: 60px;
  padding-left: 60px;
}
.recipe-col-1 {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 500px;
  padding: 20px 25px;
  border: 2px solid #876b2e;
  background-color: #ffeaa3;
  text-align: left;
}
.recipe-col-2 {
  height: 500px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-style: solid solid solid none;
  border-width: 2px;
  border-color: #876b2e;
  background-color: #ffe387;
}
.image-block {
  display: inline-block;
}
.image-block.staple {
  margin-left: 20px;
}
.result-menu-section {
  margin-bottom: 20px;
  padding: 10px 10px 20px;
  background-color: #f5cc73;
}
.result-div {
  display: block;
  padding-right: 40px;
  padding-left: 40px;
}
.result-head {
  font-weight: 400;
  text-shadow: none;
}
html.w-mod-js.w-mod-no-ios *[data-ix="fade-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  -o-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}
@media (max-width: 991px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 30%;
  }
  .field {
    width: 70%;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
  .nav-icon {
    width: 100%;
    height: 100%;
  }
  .recipe-heading {
    text-shadow: none;
  }
}
@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .field {
    width: 60%;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section.hero {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .recipe-heading {
    text-shadow: none;
  }
}
@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
    text-shadow: none;
  }
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    padding-right: 18px;
    padding-left: 18px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 194px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .grey-heading {
    text-shadow: none;
  }
  .image-crop {
    height: 278px;
    margin-bottom: -47px;
  }
  .phone-image {
    width: 80%;
  }
  .recipe-heading {
    display: block;
    text-shadow: none;
  }
}

